<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="//use.fontawesome.com/releases/v5.13.0/css/all.css"
		/>
		<link rel="stylesheet" href="/styles/global/global.css" />
		<link rel="stylesheet" href="/styles/main/main.css" />
		<link rel="stylesheet" href="/styles/global/popup.css" />
		<script defer src="/reload/reload.js"></script>
		<script defer src="/public/refresh.js"></script>
		<title>Feedback tool</title>
	</head>
	<body>
		<div class="header">
			<p class="title">My rooms (<a target='_blank' href='/add/<%= addLink %>'>Invite link</a>)</p>
			<button class="button" onclick="nextPhase()" <%= rooms.every(r => r.ready) ? '' : 'disabled' %>><%= phase === 0 ? 'Agregate notes' : 'End session' %></button>
		</div>
		<div class="cardContainer">
			<% rooms.forEach(function(room) { %>
			<div class="card">
				<div class="title"><%= room.name %></div>
				<a class="more" onclick="removeRoom('<%= room.id %>')">&times;</a>
				<ul class="lists">
					<% room.lists.forEach(function(list) { %>
					<li><%= list.name %> (<%= list.notes.length %> notes)</li>
					<% }); %>
				</ul>
				<% if (room.ready) { %>
				<div class="ready">Ready</div>
				<% } %>
			</div>
			<% }); %>
		</div>

		<script>
			const removeRoom = async (id) => {
					await fetch(`<%= process.env.URL %>/api/rooms/${id}`, { method: 'DELETE' });
					window.location.reload();
			}

			const checkInputs = () => {
				const listInputs = document.querySelectorAll('.listNames input');
				for (let i = listInputs.length - 2; i >= 0; i--) {
					if (!listInputs[i].value.length) {
						listInputs[i].parentNode.removeChild(listInputs[i]);
					}
				}
				if (listInputs[listInputs.length - 1].value.length) {
					const newInput = document.createElement('input');
					newInput.type = 'text';
					newInput.name = 'listName';
					newInput.placeholder = 'Dodaj nową listę';
					newInput.value = '';
					listInputs[listInputs.length - 1].parentNode.appendChild(newInput);
				}
			};

			document.addEventListener('input', (e) => {
				if (e.target && e.target.getAttribute('name') === 'listName') {
					checkInputs();
				}
			});

			const nextPhase = async () => {
				if (<%= phase %> === 1) {
					await fetch('<%= process.env.URL %>/api/main/end', { method: 'POST' });
					window.location = '/notFound';
				} else {
					await fetch('<%= process.env.URL %>/api/main/agregate', { method: 'POST' });
					window.location.reload();
				}
			};
		</script>
	</body>
</html>
